<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
		<listener class-name="com.ny.restutils.Listener_Class" />
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
    <class name="com.ny.getmethod.Get_Method.java"/>
      <class name="com.ny.getmethod.Post_Method"/>
      <class name="com.ny.getmethod.Put_Method"/>
      <class name="rest.usa.basepage.Base_Page"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
